
@charset "UTF-8";
.fs24{font-size:24px !important;}
.fs18{font-size:18px !important;}
.fs22 {font-size:22px !important;}
.fs30 {font-size:30px !important;}
.pr20 {padding-right: 20px !important;}
.pr0	{padding-right: 0 !important;}
.mt500 {margin-top: 500px !important;}
.mt20 {margin-top: 20px !important;}
.mt30 {margin-top: 30px !important;}
.fwb {font-weight: bold !important;}

body {background: #f7f7f7 !important;}
header#main_header {
	 height: 1950px;position: relative;
	margin-bottom: 100px;
}
header#main_header#subH{
	height: 56px;position: relative;
}

#header_top {
	width:1260px;
	background: rgba(0,0,0,0.68);
	position: fixed;left: 50%; transform: translateX(-50%);
	top:0;z-index: 10;

}
#header_top:hover {
	background: rgba(0,0,0,0.68);

}
#header_top>h1>a {
	float:left; height:56px; width: 67px;
	background-image: url("../images/logo.png");
	background-repeat: no-repeat;
	background-size: cover;
	margin:12px 20px;
}
#main_menu{float:right;}
#main_menu li {float: left; height: 80px; margin-top: 5px;}
#main_menu li a{display: block;line-height: 80px;padding: 0 20px; color:white; font-size: 18px;}
#main_menu li:nth-child(8) a,
#main_menu li:nth-child(9) a {font-size:12px; padding: 0;}
#main_menu li:nth-child(9) a {margin-right: 20px;}
/* #main_menu li:last-child a {font-size:12px; padding: 0 10px; margin-top: 35px; transform:scale(0.6);} */
#main_menu li a img {padding: 0;margin: 0; display: block;}
#main_menu li a:hover{color:#ff9700;}
.toggleMenu {display:none;}

#main_menu li a.active {color:#ff4e00;}
/*slider*/
.sliderWrap {height:1005px;}
/*.sliderWrap li img {width: 100%;}*/
.sliderWrap li.mainV {height: 1005px; _background: skyblue;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width:1920px;
}
.sliderWrap li {height: 1005px; _background: skyblue;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

}
.sliderWrap li.slider_1st{
	background-image: url(../images/slider1.png);
}
.sliderWrap li.slider_2st{
	background-image: url(../images/slider2.png);
}
.sliderWrap .slider_txt {
	position: absolute; width: 500px;left:50%;margin-left:-250px;
	text-align: center; color:white;top: 30%;
}
.sliderWrap .slider_txt h3 {font-size:2em;}
.sliderWrap .slider_txt h3:after {
	content: ""; display: block; width:300px; height:2px; background: #fff;
	margin: 10px auto;
}
.sliderWrap .slider_txt p{}

.sliderWrap .bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0 none;
    margin-bottom: 0;
}
.bx-wrapper .bx-pager {
    bottom:100px;
}



/*content*/
.content{width: 1260px;position: absolute;left: 50%;transform: translateX(-50%);bottom:0;}
.content>ul>li {
	float: left; width: 25%;height: 315px; position: relative;
	overflow: hidden;
}
/*.content>ul>li:nth-child(2n){background: skyblue;}*/


/*content layout*/
/* .content>ul>li.ct1st{background: #92c1d5;}
.content>ul>li.ct2st{}
.content>ul>li.ct3st{width: 50%;}
.content>ul>li.ct4st{background: #b8307c;}
.content>ul>li.ct5st{background: #413d3e;}
.content>ul>li.ct6st{width: 50%;}
.content>ul>li.ct7st{height: 630px;}
.content>ul>li.ct8st{width: 50%;}
.content>ul>li.ct9st{background: #b8307c;}
.content>ul>li.ct10st{background: #413d3e;}
.content>ul>li.ct11st{width: 50%;} */

.content>ul>li.ct1st{background: #e87875;height: 630px;}
.content>ul>li.ct1st div.box_b {width: 271px; height: 575px; border:8px solid #fff; position: absolute;top: 28px;left:25px;overflow: hidden; }
.content>ul>li.ct1st h3 {font-size:36px; color:white; line-height: 40px; margin-bottom: 20px;}
.content>ul>li.ct1st .tb  {margin-bottom: 257px; position: absolute; top:80px; right:20px;}
.content>ul>li.ct1st img {display: block;padding-right: 0;transform:scale(1.3);position: absolute; top:150px; left:80px;}
/* .content>ul>li.ct1st p.move {margin-top: 500px;} */

.content>ul>li.ct2st{background: #006ecd;}
.content>ul>li.ct2st a {text-align: center;}
.content>ul>li.ct2st a h4 {font-size:18px; font-weight: 400; color:white; padding-top: 40px;}
.content>ul>li.ct2st a p {margin-top: 14px;font-size:40px; font-weight: bold; color:white;}
.content>ul>li.ct2st a p span {color:#ff9700;}
.content>ul>li.ct2st .img1 {display: block;width: 50%;position: absolute;bottom: 20px; right: 0;}
.content>ul>li.ct2st .img2 {display: block;width: 60%;position: absolute;bottom: -10px; left: 0;}



.content>ul>li.ct3st{width: 50%;}


.content>ul>li.ct4st{background: #e74848;}
.content>ul>li.ct4st a {text-align: center;}
.content>ul>li.ct4st a h4 {font-size:18px; font-weight: 400; color:white; padding-top: 40px;}
.content>ul>li.ct4st a p {margin-top: 14px;font-size:40px; font-weight: bold; color:white;}
.content>ul>li.ct4st a p span {color:#006ecd;}
.content>ul>li.ct4st .img1 {display: block;width: 50%;position: absolute;bottom: 20px; right: -30px;}
.content>ul>li.ct4st .img2 {display: block;width: 60%;position: absolute;bottom: 10px; left: 0;}



.content>ul>li.ct5st{background: #413d3e; width: 50%;}
.content>ul>li.ct5st .overlay_b{position: absolute;top: 0;left: 0;background: rgba(0,0,0,0.3);width: 100%;height: 100%;}
.content>ul>li.ct5st .box_b{height: 271px; width: 575px; border:8px solid #fff; position: absolute;left: 28px;top:20px; padding-top: 21px;}
.content>ul>li.ct5st h3 {font-size:36px; color:white; line-height: 40px; margin-bottom: 20px;}
.content>ul>li.ct5st p {font-size:22px;}



.content>ul>li.ct6st{background: #e87875;height: 630px;text-align: right; color:white;}
.content>ul>li.ct6st .overlay_b{position: absolute;top: 0;left: 0;background: rgba(0,0,0,0.3);width: 100%;height: 100%;}
.content>ul>li.ct6st div.box_b {width: 271px; height: 575px; border:8px solid #fff; position: absolute;top: 28px;left:25px;overflow: hidden; }
.content>ul>li.ct6st h3 {font-size:36px; color:white; line-height: 40px; margin-bottom: 60px;}
.content>ul>li.ct6st .tb  {margin-bottom: 257px; position: absolute; top:80px; right:20px;}



.content>ul>li.ct7st{background: #e4f2e3; width: 50%;}
.content>ul>li.ct7st .overlay_b{position: absolute;top: 0;left: 0;background: rgba(0,0,0,0.3);width: 100%;height: 100%;}
.content>ul>li.ct7st .box_b{height: 271px; width: 575px; border:8px solid #fff; position: absolute;left: 28px;top:20px; padding-top: 21px;}
.content>ul>li.ct7st h3 {font-size:22px; color:white; line-height: 40px; margin-bottom: 20px;}
.content>ul>li.ct7st p {font-size:34px;}


.content>ul>li.ct8st{background: #c0e19f; color:white;}
.content>ul>li.ct8st h3 {display: block;position: absolute;left: 30px;top: 60px; font-size:22px;}
.content>ul>li.ct8st p {display: block;position: absolute;left: 30px;top: 100px;font-size:20px;}
.content>ul>li.ct8st img {opacity: 0;transition: 0.3s;}
.content>ul>li.ct8st img:hover {opacity: 1;}
.content>ul>li.ct8st a.more {display: block;position: absolute;font-size: 18px;bottom: 50px;right:50px;}
.content>ul>li.ct8st a.more:hover {color:blue;}


.content>ul>li.ct9st{background: #1fbfcd; color:white;}
.content>ul>li.ct9st h3 {display: block;position: absolute;left: 30px;top: 60px; font-size:22px;}
.content>ul>li.ct9st p {display: block;position: absolute;left: 30px;top: 100px;font-size:20px;}
.content>ul>li.ct9st p{left: 30px;top: 100px;font-size:20px;}
.content>ul>li.ct9st img {opacity: 0;transition: 0.3s;}
.content>ul>li.ct9st img:hover {opacity: 1;}
.content>ul>li.ct9st a.more {display: block;position: absolute;font-size: 18px;bottom: 50px;right:50px;}
.content>ul>li.ct9st a.more:hover {color:blue;}


.content>ul>li.ct10st{background: #e4f2e3; width: 50%;}
.content>ul>li.ct10st .overlay_b{position: absolute;top: 0;left: 0;background: rgba(0,0,0,0.3);width: 100%;height: 100%;}
.content>ul>li.ct10st .box_b{height: 271px; width: 575px; border:8px solid #fff; position: absolute;left: 28px;top:20px; padding-top: 21px;}
.content>ul>li.ct10st h3 {font-size:22px; color:white; line-height: 40px; margin-bottom: 20px;}
.content>ul>li.ct10st p {font-size:34px;}


/*content icon cell*/


.content li.ct1st a {text-align: right;}
.content li.ct4st a
.content li.ct5st a,
{text-align: center;display: block; height: 100%; padding-top: 85px;}

.content li.ct1st img,
.content li.ct4st img,
.content li.ct5st img,
.content li.ct9st img,
.content li.ct10st img
{display: block; margin: 0 auto;}

.content li.ct1st p,
.content li.ct4st p,
.content li.ct5st p
 {color: white;}

/*content txt*/
 .content div.txt{position: absolute;  left: 40px; color:white;}
 .content div.txt h3 {}
 /* .content div.txt h3:after {
 	content:"";display: block; width: 50px;height: 2px;
 	background: #fff; margin: 20px 0;
 } */
 /* .content div.txt p {font-size:2em;} */


/*modal layter*/
 .content .ct2st .bgImg {transition: 0.3s;}
 .content .ct2st:hover .bgImg {transform: scale(1.2);}
 .content .ct2st .play {
 	position: absolute; left: 50%; top: 50%;transform: translate(-50%,-50%);
 }

 /*bx slider*/

.content .ct3st {background: #fff;}
.content .ct3st h2 {position: absolute; top: 40px; left: 40px;}
.content .sliderWrap {width: 630px;}
.content .sliderWrap li.news {width: 630px; }
.content .sliderWrap .left {position: relative;float: left; width: 315px; height: 315px; padding: 80px	40px; ;}
.content .sliderWrap .left:after {
	content: "";
	display: block;
	border-width: 20px;
	border-style: solid;
	border-color: transparent transparent transparent white;
	position: absolute;top:50%; transform: translateY(-50%);
	right:-40px;
}
.content .sliderWrap .right {float: right; width: 315px; height: 315px; background:rgb(0,0,0);}
.content .sliderWrap .right img {margin: 60px auto;}
.content .ct3st .btn {position: absolute;bottom: 20px;left: 213px; width: 76px;}
.content .ct3st .btn img {float: left;display: block; width: 38px;height: 38px; }
.content .ct3st .btn .prevBtn {}
.content .ct3st .btn .nextBtn {}


/*container*/
.container {
	height: 733px;
	background: url(../images/visual_b.jpg) no-repeat center fixed ;
	background-size: cover;
	color: white;	padding-top: 70px;
}
.container .section{width: 1260px;margin: 0 auto;}
.container .section h4 {text-align: center;}
.container .section h4:after {
	content: ""; display: block; width: 50px;height: 3px;background: #fff;
	margin: 20px auto;
}
.container .section>p {text-align: center; font-size:2em; margin-bottom: 40px;}

/* .container .section li {
	border-radius: 10px;float: left; margin-right: 20px;
	width: 300px; height: 380px; background: gold;
	padding-top: 70px; transition:0.3s
}
.container .section li:last-child {margin-right: 0; }
.container .section li:hover {
	box-shadow:8px 8px 10px rgba(200,200,200,0.5);x값, y값, 그림자 크기, 색상
	transform: translate(-10px,-10px);
}

.container .section li img {display: block; margin: 0 auto;}
.container .section li .card_body {text-align: center;padding: 20px 40px;}
.container .card_body h3 {margin-bottom: 10px;}
*/
.container .section .brandB {height: 100%;_background: #f00;padding-left: 40px; padding-top: 40px;}
/* .container .section ul {padding-right: 100px;} */
.container .section li {float:left;  height: 280px; margin-right: 70px;}
.container .section li:nth-child(1) {margin-left: 40px;}
/* .container .section li:nth-child(1) img{margin-left: 30px;} */
.container .section li:nth-child(2) img{margin-left: 20px;}
.container .section li:nth-child(4) {margin-right: 0;}
.container .section li a{text-align: center;}
.container .section li h3 {margin-top:20px; font-size:28px; font-weight:500;}
.container .section li p {font-size:20px;margin-top: 10px;line-height: 1.4em;}

/* bconWrap */
.bconWrap {width: 1260px; margin: 0 auto;}
.bcontent_top {_background: skyblue; color:white;}
.bcontent_top>ul>li {float: left;width: 25%;height: 315px;position: relative;overflow:hidden;}

.bcontent_top>ul>li.ct1st{height: 630px;text-align: right; color:white;}
.bcontent_top>ul>li.ct1st .overlay_b{position: absolute;top: 0;left: 0;background: rgba(0,0,0,0.3);width: 100%;height: 100%;}
.bcontent_top>ul>li.ct1st div.box_b {width: 271px; height: 575px; border:8px solid #fff; position: absolute;top: 28px;left:25px;overflow: hidden; }
.bcontent_top>ul>li.ct1st h3 {font-size:36px; color:white; line-height: 40px; margin-bottom: 60px;}
.bcontent_top>ul>li.ct1st .tb  {margin-bottom: 257px; position: absolute; top:80px; right:20px;}




.bcontent_top>ul>li.ct2st{background: #fff; width: 315px; height: 630px; position: relative; }
.bcontent_top>ul>li.ct2st div.bct2T {color:#000;padding-left: 36px; padding-top: 36px; font-size:22px;}
.bcontent_top>ul>li.ct2st div.bct2T h4{margin-bottom: 20px;}
.bcontent_top>ul>li.ct2st img.gra {position: absolute;width: 315px;height: 315px;top: 0;left: 0;opacity:0; transition:0.3s;}
.bcontent_top>ul>li.ct2st img.gra:hover {opacity:1;}
.bcontent_top>ul>li.ct2st div.bct2T:before {
	content: "";
	display: block;
	border-width: 20px;
	border-style: solid;
	border-color: transparent transparent transparent white;
	position: absolute;top:47%;transform: translate(-50%,-50%)rotate(-90deg);
	left:50%; z-index:4;
}

.bcontent_top>ul>li.ct3st{background: #fff;width: 50%; height: 315px;position: relative;}
.bcontent_top>ul>li.ct3st div.bct3T {color:#000;padding-left: 36px; padding-top: 36px; font-size:22px;}
.bcontent_top>ul>li.ct3st div.bct3T h4{margin-bottom: 20px;}
.bcontent_top>ul>li.ct3st div.bct3T p{}
.bcontent_top>ul>li.ct3st>img{position: absolute;width: 315px;height: 315px;top: 0;right: 0;}
.bcontent_top>ul>li.ct3st img.gra{position: absolute;width: 315px;height: 315px;top: 0;right: 0;opacity:0; transition:0.3s;}
.bcontent_top>ul>li.ct3st img.gra:hover{opacity:1;}
.bcontent_top>ul>li.ct3st div.bct3T:after{
	content: "";
	display: block;
	border-width: 20px;
	border-style: solid;
	border-color: transparent transparent transparent white;
	position: absolute;top:50%; transform: translateY(-50%);
	left:50%; z-index:5;

}

.bcontent_top>ul>li.ct4st{background: #e4f2e3; width: 50%;}
.bcontent_top>ul>li.ct4st .overlay{position: absolute;top: 0;left: 0;background: rgba(0,0,0,0.3);width: 100%;height: 100%;}
.bcontent_top>ul>li.ct4st .box_b{height: 271px; width: 575px; border:8px solid #fff; position: absolute;left: 28px;top:20px; padding-top: 21px; padding-left:30px;}
.bcontent_top>ul>li.ct4st h4 {font-size:22px; color:white; line-height: 40px; margin-bottom: 20px;}
.bcontent_top>ul>li.ct4st p {font-size:34px;}


.bcontent_b {margin-top: 200px; margin-bottom: 74px;}
.bcontent_b li {float:left; height: 315px; width: 50%; position: relative;}

.bcontent_b ul>li.ct1st{}
.bcontent_b ul>li.ct1st .overlay{position: absolute;top: 0;left: 0;background: rgba(0,0,0,0.3);width: 100%;height: 100%;}
.bcontent_b ul>li.ct1st .txt {position: absolute;top:55px; left:60px;}
.bcontent_b>ul>li.ct1st h3 {font-size:36px; font-weight:500;color:white; line-height: 40px; margin-bottom: 20px;}
.bcontent_b>ul>li.ct1st h3:after {content:"";display: block;width: 60px;height: 2px;background: #fff;margin-top:15px;}
.bcontent_b>ul>li.ct1st p {font-size:22px; color:white; font-weight:normal;}
.bcontent_b>ul>li.ct1st button {width: 170px;height: 50px;border:1px solid #fff;background:none;margin-top: 30px; color:white;font-size:1em; cursor:pointer;}


.bcontent_b ul>li.ct2st .txt {position: absolute;top:55px; left:60px;}
.bcontent_b>ul>li.ct2st h3 {font-size:36px; font-weight:500;color:#000; line-height: 40px; margin-bottom: 20px;}
.bcontent_b>ul>li.ct2st h3:after {content:"";display: block;width: 60px;height: 2px;background: #000;margin-top:15px;}
.bcontent_b>ul>li.ct2st p {font-size:22px; color:#000; font-weight:normal;}
.bcontent_b>ul>li.ct2st button {width: 170px;height: 50px;border:1px solid #000;background:none;margin-top: 30px; color:#000;font-size:1em; cursor:pointer;}

/* footer */
address {font-style:normal;}
footer {
	background: #000; color:white; height:300px;
}
.footerWrap {max-width: 1260px;width:100%; margin: 0 auto; position: relative; height: 250px;top:30px;}
.footerWrap h2 {font-size:18px;;padding-top: 30px;}
.footerWrap .footerWr {position: relative; width: 1150px; height: 150px; top:-90px;left:110px;}
/* .footerWrap ul.fm {margin-bottom: 30px;} */
.footerWrap ul.fm>li {float:left; margin-right: 5%;}
.footerWrap ul.fm>li:last-child {float:left; margin-right:0;}
.footerWrap ul.fm>li:nth-child(7) {float:left; margin-right:13%;}
.footerWrap ul.fm>li a{color:white; font-size:18px;}
.footerWrap ul>li a.blue{color:#1498e1;}
.footerWrap address:before {content:"";display: block;height: 1px;width: 1140px; background: #fff;opacity:0.8; margin-bottom: 30px;}
.footerWrap address {margin-top: 30px;margin-bottom: 40px;line-height: 30px; font-size:18px; font-weight:300; opacity:0.8;}
.footerWrap p {font-weight:300;opacity:0.8;}

.footerWrap .sns {height: 45px; position: absolute;right:0; top:90px;}
.footerWrap .sns li{float:left; margin-right: 20px;}
.footerWrap .sns li a{}




	/*sub CSV  */

		.visualSub{
			max-width:1920;width: 100%;height:436px;background:#ccc;position: relative;overflow: hidden;
		background: url(../images/cjcsvV.jpg) no-repeat;background-position: center;background-size: cover;
		filter:brightness(90%);
	}
		/* .visualSub #sVideo{width: 100%;height: 100%;object-fit:cover;} */
		.visualSub .txt{ text-align: center;position: absolute;left:50%;top:50%;transform:translate(-50%,-50%);color:white;}
		.visualSub .txt h2 {font-size:52px;margin-bottom: 10px;;}
		.visualSub .txt p {font-size:32px; font-weight:500;color:white;}
		/* .visualSub .txt p.p2 {font-size:22px;} */
		.visualSub .subMenuTab{width: 1260px;
			position: absolute;left:50%;transform:translateX(-50%);color:white;bottom:0;
		}
		.visualSub .subMenuTab ul{}
		.visualSub .subMenuTab li{float: left;width: 20%;text-align: center;}
		.visualSub .subMenuTab li a{display: block;line-height:40px;color:white;background: rgba(0,0,0,0.8); line-height: 3.5em;}
		.visualSub .subMenuTab li a:hover {background: orange;}
		.visualSub .subMenuTab li a.active {background: #ff4e00}

		/*contents*/
		.contents{width: 1126px;margin: 0 auto}

		.contents .title_txt {text-align: center; margin-top: 60px; font-size:20px; line-height: 32px; color:#666; margin-bottom: 100px;}
		.contents .subContent div.menu1st,
		.contents .subContent div.menu2st,
		.contents .subContent div.menu3st,
		.contents .subContent div.menu4st,
		.contents .subContent div.menu5st{
			height: 100%;background:#f7f7f7;
		}

		.contents .title_txt {text-align: center; margin-top: 60px; font-size:20px; line-height: 32px; color:#666; margin-bottom: 100px;}
		.contents .title_txt h4 {font-size:32px;margin-bottom: 20px; color:#000;}
		.contents .subContent div.menu1st .menu1stT{
			position: relative; height: 100px; width: 100%; margin-bottom: 40px;
		}
		.contents .subContent div.menu1st .menu1stT li{float:left; margin-right: 50%; }
		.contents .subContent div.menu1st .menu1stT li h4		{font-size:32px; font-weight:500;}
		.contents .subContent div.menu1st .menu1stT li button{height:40px; width:250px;outline:none; border:2px solid #ddd;background: none; font-size:13px; cursor:pointer; transition:0.3s;}
		.contents .subContent div.menu1st .menu1stT li button:hover{border: 2px solid orange;}
		.contents .subContent div.menu1st .menu1stT li:last-child{float:right; margin-right: 0;}
		.contents .subContent div.menu1st .menu1st_c1{
			width: 100%; height: 300px; margin-bottom: 50px;position: relative;
		}
		.contents .subContent div.menu1st .menu1st_c1 .txt{margin-top: 10px;margin-left: 100px;height: 200px; position: absolute;top: 0; left:400px;}
		.contents .subContent div.menu1st .menu1st_c1 .txt h5{font-size:28px; font-weight:500; margin-bottom: 20px; color:#222;}
		.contents .subContent div.menu1st .menu1st_c1 .txt p{font-size:24px;margin-bottom: 20px;color:#1a1a1a;}
		.contents .subContent div.menu1st .menu1st_c1 .txt p:last-child{margin-bottom: 0; line-height: 32px; color:#1a1a1a;}

		.contents .subContent div.menu1st .menuC1_Wrap:after {
			content:""; display: block; width: 100%; height: 2px; background:#ddd; margin-bottom: 50px;
		}
/* c2 */
		.contents .subContent .menuC2_Wrap {_background: skyblue; margin-bottom: 60px;}
		.contents .subContent .menuC2_Wrap h4 {font-size:32px; font-weight:400; color:#444;margin-bottom: 20px;}
		.contents .subContent .menuC2_Wrap ul{
			width: 100%; height: 100%;
		}
		.contents .subContent .menuC2_Wrap li{width:268px; height: 304px;position: relative; overflow:hidden; float:left; margin-right: 18px;}
		.contents .subContent .menuC2_Wrap li:last-child{margin-right: 0;}
		.menuC2_Wrap .menu1st_c2Wrap .overlay_gra{
			width: 100%;height: 100%;position: absolute;top: 0;left: 0;
			transition:0.3s;z-index:1;
			background:linear-gradient(to left, rgba(0,0,255,0.2), rgba(255,0,0,0.2)); opacity:0;
		}
		.menuC2_Wrap .menu1st_c2Wrap:hover>.overlay_gra {
			opacity:0.5;
		}
		.menuC2_Wrap .menu1st_c2Wrap img{
			width: 100%;display: block;position: absolute;top: 0; transition:0.3s;
			filter:brightness(60%);
		}
		.menuC2_Wrap .menu1st_c2Wrap:hover> img{transform:scale(1.1);filter:brightness(80%);}
		.menuC2_Wrap .menu1st_c2Wrap .txtB {
			position: absolute; height: 100px;width: 100%;z-index:2;
			color:#fff; padding: 15px;
		}
		.menuC2_Wrap .menu1st_c2Wrap .txtB .txt_t {font-size:13px; }
		.menuC2_Wrap .menu1st_c2Wrap .txtB .txt_t:after {display: block;content:"";height: 2px;width: 20px;background: #fff;margin-top: 10px;}
		.menuC2_Wrap .menu1st_c2Wrap .txtB .txt_b {margin-top: 55%; font-size:1.4em; line-height:29px;}
		.menuC2_Wrap .menu1st_c2Wrap .txtB .txt_b:after {
			display: block;content:"#CJ도너스캠프"; width: 46%; height: 20px; text-align: center;
			border: 1px solid #fff; font-size:13px; line-height: 150%; margin-top: 10px;
		}
		/* .menuC2_Wrap .menu1st_c2Wrap .txtB .txt_b:after:after {
			display: block;content:"#임직원봉사활동"; width: 46%; height: 20px; text-align: center;
			border: 1px solid #fff; font-size:13px; line-height: 150%; margin-top: 10px;
		} */



		/* meida */

		
