@charset "UTF-8";

#header {
	background:#0b0801 url(../images/img1.jpg) no-repeat center;
	height: 154px;
	position:relative;
	background-position: -100px 0;
}	
#header .hT {}
#header .hT .hTWrap {width:980px; margin: 0 auto;}