@charset "UTF-8";

body {height:100%;

}
#header {
	background:#0b0801 url(../images/img1.jpg) no-repeat center;
	margin: 0 auto;
	position: relative;
	background-position: 50% 0;
	min-width:980px;
}	
#header .hT {width: 100%; height: 90px;}
#header .hT .hTWrap {
	width:980px; margin: 0 auto; padding-top:30px;
	position: relative;
}
.hT .hTWrap h2 {position: absolute; left: 0; top:0px;}

.hT .hTWrap .sWrap {padding-left:250px;}
.sWrap form {position: relative; width: 290px;}
.searchTit {
	display: block; position: absolute;
	width: 60px; height: 20px;
	text-indent: -9999px;
	background-image: url(../images/searchtext.jpg);
	left:4px; top:6px;
	z-index: 3;
	transform:scale(0.8);
}
.searchInp {
	width:290px; height:30px;border-radius:15px;
	position: relative; text-indent: 65px; 
	font-size:13px;
}
.s_b {
	position: absolute;
	width: 30px; height:30px; text-indent: -9999px;
	background: url(../images/icon_s.png) no-repeat center;
	border:0 none; right:-5px; top:50%; transform:translate(-50%,-50%);
	
}



.hT .hTWrap ul {position: absolute; right: 0; bottom:0;}
.hT .hTWrap ul li {margin-right: 10px;float: left; font-size:23px; color:#fff; font-weight: bold;}
.hT .hTWrap ul li:last-child {margin-right: 0;}
.hT .hTWrap ul li a {}

.hB {width: 100%; background: #eee;border-top:5px solid darkred; border-bottom:5px solid darkred;}
.hB nav {width: 980px; margin: 0 auto;}
.hB nav .gnb {}
.hB nav .gnb li {float:left; height:40px; line-height: 40px;width: 16.666%; background: #eee; font-size:14px; font-weight: bold; }
.hB nav .gnb li:nth-child(1) {border-left:1px solid #ddd;}
.hB nav .gnb li a {display:block; text-align: center; border-right: 1px solid #ddd;}
.hB nav .gnb li:hover a {background-color: skyblue;}

#content {
	
	background-image: url(../images/02bgh.jpg);
	background-repeat: no-repeat;
	background-position:center;
	background-size: cover; /*body에 높이 값 설정*/
	overflow-x: hidden;
	min-width:980px;

}
#content .container {
	width: 980px; margin: 0 auto;
	 position: relative; padding-top:60px; }

.container .cTop {margin-bottom: 20px;}
.cTop .cTL {

	float:left;
	width: 480px; height: 565px;
}
.cTop .cTL .formT {
	width: 100%;height: 300px;background: #ddd; margin-bottom: 20px;

}





.sliderTab>label {
	display: block; width: 70px; line-height: 100px; text-align: center;
	
}

.inp {width:300px; height:100px; display: none;}
.formT>input {display: none;}
.inp:nth-child(1):checked ~ div.sliderTab>label:nth-child(1) {background: #ddd; color:#222 !important;}
.inp:nth-child(2):checked ~ div.sliderTab>label:nth-child(2) {background: #ddd;  color:#222 !important;}
.inp:nth-child(3):checked ~ div.sliderTab>label:nth-child(3) {background: #ddd;  color:#222 !important;}


.inp:nth-child(1):checked ~ div.tab_slider1 {display:block;}
.inp:nth-child(1) ~ div.tab_slider1{display:none;}

.inp:nth-child(2):checked ~ div.tab_slider2 {display:block;}
.inp:nth-child(2) ~ div.tab_slidr2{display:none;}

.inp:nth-child(2):checked ~ div.tab_slider3 {display:block;}
.inp:nth-child(2) ~ div.tab_slidr3{display:none;}




.sliderTab label {
	display: block; width: 30%;height:33.3333%; 
	color: #fff; font-weight: 400; text-align: left; text-indent: 20px;
	font-size:20px;
}
/*.sliderTab label:nth-child(1):before {
	content: ""; background-image: url(../images/key.png);
	display: inline-block; width: 30px;height: 30px;
	background-size: cover;
	background-color: white;
}
*/


.sliderTab label:nth-child(1) {background: #6F34ED;}
.sliderTab label:nth-child(2) {background: rgb(128,54,247);}
.sliderTab label:nth-child(3) {background: rgb(156,36,242);}

/*.sliderTab label:active {background: orange !important;}*/










.cTop .cTL ul {}
.cTop .cTL ul li {
	float:left; width: 230px; height: 245px; 
	position: relative; overflow: hidden;
}
.cTop .cTL li img {
	width: 100%; display:block;
	transform:scale(1.1);
	transition:0.3s;
}
.cTop .cTL li:hover img {
	transform: scale(1.3);
}
.cTop .cTL li .conT {
	position: absolute;
	left:0; bottom:0; background: #3c3c3c;
	width: 100%; height:50px; line-height: 50px;
	color:#fff;font-weight: 600; font-size:18px;
}
.ml10 {margin-left: 10px;}
.ml30 {margin-left: 30px;}
.ml20 {margin-left: 20px;}
.fs14 {font-size:14px;}



.cTop .cTL ul li:last-child {margin-left:20px; background: #ff0;}



.cTop .cTR {
	width: 480px; height: 565px;
	float:right; padding:20px; color:#fff;
	
}
.cTop .cTR h2 {font-size:65px;}
.cTop .cTR h2:after {content:""; display:block; width:70px; border-bottom: 3px solid #fff; margin-top:-3px; margin-left: 253px;}
.cTop .cTR p {margin-top: 10px; font-size:27px; font-weight: bold; line-height: 40px; }





.container .cBottom {width: 980px; margin: 0 auto; padding-bottom: 70px;}
.cBottom ul {}
.cBottom > ul > li {
	float:left; width: 230px; height: 245px; background: #f00;
	margin-right: 20px; margin-bottom: 20px;
}

.cBottom ul li:nth-child(1){

}
.cBottom ul li:nth-child(1){}
.cBottom ul li:nth-child(1){}
.cBottom ul li:nth-child(4){margin-right: 0; margin-bottom: 0;}
.cBottom ul li:nth-child(5){margin-bottom: 0;}
.cBottom ul li:nth-child(6){margin-bottom: 0;}
.cBottom ul li:nth-child(7){margin-bottom: 0;}
.cBottom ul li:nth-child(8){margin-right: 0; margin-bottom: 0;}



.bx-wrapper {
		-moz-box-shadow:none;
		-webkit-box-shadow:none;
		box-shadow: none;
		border: 0 none;
		margin-bottom: 0;
		}
.cB3,.cB4 {position: relative;}
.slider1 li,.slider2 li {position: absolute; width: 230px; height: 245px; overflow: hidden; cursor: pointer;}
.slider1 li img,.slider2 li img {display:block; transform: scale(3); width: 100%;}
/*.slider1 li img:last-child {transform:scale(2.5);}*/
.slider1 li .sliderT,.slider2 li .sliderT {position: absolute; width: 100%;background:rgba(100,65,165,0.9); left:0; bottom:0; width: 100%; height:70px; padding-left:20px;}
.slider1 li .sliderT p{color:white;font-weight: bold; font-size:18px; margin-top: 15px; line-height: 20px;}
.slider1 li .sliderT p:last-child{display:block; margin: 0;text-align: left; font-size:18px; margin: 0; color: orange;}
.slider1 li .sliderT:hover,.slider2 li .sliderT:hover {background: rgba(56,19,56,1);}

.slider2 li .sliderT p {margin-left: -20px;color:white;font-weight: 500; font-size:20px; line-height: 70px; text-align: center;}

.nextBtn,.nextBtn2,.prevBtn,.prevBtn2{position: absolute; top:50%; margin-top: -25%; cursor: pointer; transform: scale(0.6);}
.prevBtn,.prevBtn2 {left:-11px;}
.nextBtn,.nextBtn2 {right: -11px;}

/*.cB5 {position: relative; overflow: hidden;}
.cB5 img {transform:translate(-20%,-19%) scale(0.65); transition:0.3s;}
*//*.cB5:hover img {transform:translate(-20%,-19%) scale(0.75);}*/

/*.cB5Tit {position: absolute; top: 10px; left:50%; margin-left: -13%; background: rgb(250,0,90); border-radius:10px;width: 65px; height: 40px;}
.cB5Tit h3 {text-align: center; line-height: 40px; font-size:20px; color: #fff;}
.cB5Tbg { 
position: absolute; left: 0; bottom: 0; 
width: 100%; height: 70px; background: rgba(0,0,0,0.8); transition:0.3s;}
.cB5bg p {margin-top:14px;color:#fff; text-align: center; font-size:18px; line-height: 23px;}
.cB5bg p:last-child{font-size:14px;}

.cB5:hover img {transform:translate(-20%, -19%) scale(0.75);}
*/
.cB5 {position: relative; overflow: hidden;}
.cB5 img {transform:translate(-20%,-19%) scale(0.65); transition:0.3s;}
.cB5 h3 {
	display: block; position: absolute; top: 30px; left:50%; 
	transform: translate(-50%,-50%); 
	background: rgb(250,0,90); color:white; 
	width: 60px; height: 40px; text-align: center; line-height: 40px;
	border-radius: 10px;
}
.cB5 .cB5Bg {
	width: 100%; height:70px; background: rgba(0,0,0,0.7); position: absolute; left: 0; bottom: 0;
	transition:0.3s;
}
.cB5 .cB5Bg a {margin: 18px 0 0 20px;display: block; color:#fff; font-size:18px;line-height: 20px; font-weight:bold;transition: 0.3s;}
.cB5 .cB5Bg a span {font-size:14px; font-weight: normal; transition: 0.3s;}

/*.cB5 img:hover {transform: translate(-20%,-19%) scale(0.75);}*/
.cB5:hover .cB5Bg {width: 100%;height:100%;}
.cB5:hover .cB5Bg a {margin-top:50%;}

.cB6 {position: relative; overflow: hidden;}
.cB6 img {width: 170%;transform:translate(-20px,0);display: block;}
.cB6 .dbg {position: absolute; width: 100%; height: 100%; top: 0;left: 0;background:rgba(0,0,0,0.7);}

.cB6 p {
	position: absolute; top:20%;  left: 10px; color: #fff;
	line-height:30px;
}
.cB6 .cB6Bg {
	width: 100%; height:70px; background: rgb(0,0,0); position: absolute; left: 0; bottom: 0;
	transition:0.3s;
}
.cB6 .cB6Bg a {margin: 18px 0 0 20px;display: block; color:#fff; font-size:18px;line-height: 20px; font-weight:bold;transition: 0.3s;}
.cB6 .cB6Bg a span {font-size:14px; font-weight: normal; transition: 0.3s;}

/*.cB5 img:hover {transform: translate(-20%,-19%) scale(0.75);}*/
.cB6:hover .cB6Bg {background: rgb(100,65,165);}
.cB6:hover .cB6Bg a {}

.cB7,.cB10 {overflow: hidden; position: relative;}
.cB7>img,.cB10>img  {display: block; width: 170%; transform:translate(-50px,0);}
.cB7 .cB7BG,.cB10 .cB10BG {
	position: absolute;
	left:0; top:0;
	width: 100%;height: 100%;
	background: rgba(0,0,0,0.6); padding: 20px;
}
.cB7 .cB7BG h3,.cB10 .cB10BG h3 {color:#fff; text-align: center;font-size:20px; margin-bottom: 8px;}
.cB7 .cB7BG p,.cB10 .cB10BG p {font-size:18px; color:#fff; text-align: center; line-height: 20px; margin-bottom:10px;}
.cB7 .cB7BG>img,.cB10 .cB10BG>img {display: block;margin: 0 auto; width:15%; transition:0.3s;}
.cB7 .cB7BG:hover >img,.cB10 .cB10BG:hover >img {transform: rotate(90deg);}




.cB8,.cB9 {overflow: hidden; position: relative;}
.cB8>img {display: block; width: 170%; transform:translate(-50px,0);}
.cB9>img {display: block; width: 200%; transform: translate(-100px,0);}
.cB8 .cB8BG,.cB9 .cB9BG {
	position: absolute;
	left:0; top:0;
	width: 100%;height: 100%;
	background: rgba(0,0,0,0.6); padding: 90px 20px 20px 20px;
}
.cB8 .cB8BG h3,.cB9 .cB9BG h3 {color:#fff; text-align: center;font-size:20px; margin-bottom: 8px;}
.cB8 .cB8BG p,.cB9 .cB9BG p {font-size:18px; color:#fff; text-align: center; line-height: 20px; margin-bottom:10px;}
.cB8 .cB8BG>img,.cB9 .cB9BG>img {display: block;margin: 10px auto; width:15%; transition:0.3s;}
.cB8 .cB8BG:hover >img,.cB9 .cB9BG:hover >img {transform: rotate(90deg);}




#footer {
	width: 100%;
	background: #000;
	height: 100%;

}
#footer .footer_wrap {
	width: 980px; margin: 0 auto;
	
}
#footer ul {}
#footer ul li {float: left; margin-right: 35px;}
#footer ul li a {display: block; font-size:16px; font-weight: bold; color:#666;}
address {margin-top: 10px;font-style: normal; color:#444; padding-bottom: 10px;}
















.white {color:white !important;}
.bold {font-weight: bold !important;}
